$font-family-sans-serif: 'Libre Franklin', sans-serif;
$headings-font-family: 'Roboto Slab', serif;

$hilsc-blue: #1571B6;
$hilsc-gray: #4B4B4B;
$hilsc-red:  #E8463A;

@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin-top: 56px;
}

.labelled-item--label {
  font-weight: bold;
}

.minimize {
  .labelled-item[data-item=''],
  .hideable {
    display: none;
  }
}

.labelled-item[data-item=''] {
  color: $gray-500;
}

.toggle {
  cursor: pointer;
}

.labelled-for-agency-name,
.labelled-for-name,
.labelled-for-description
{
  .labelled-item--label {
    display: none;
  }
}

.labelled-item {
  margin-bottom: 0.5em;
  overflow-wrap: break-word;
}

.labelled-item--label {
  margin-right: 0.25em;
}

#search-result-container {
  .minimize {
    .labelled-item[data-item=''] {
      &.labelled-for-accepting-clients {
        display: block;
      }
    }
  }
}

main {
  min-height: 100vh;
}

.list-group h4:first-child {
  margin-top: 20px;
}

#search-filters-container {
  padding-top: 24px;

  .card {
    position: fixed;
    width: calc(100% / 3 - 50px);

    .search-filters--filters {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: calc(100vh - 240px);
    }
  }

  .form-group p:first-child {
    margin-bottom: 0;
  }

  a[name] {
    visibility: hidden;
    font-size: 1px;
    margin: 0;
  }

  .filter-nav a {
    color: $gray-600;
    font-size: 0.8em;
    padding-right: 0.4em;
  }
}

#search-result-container {
  padding-top: 24px;
}

.profile-tools {
  margin-bottom: -48px;
}

.profile-tools p {
  margin-bottom: 0.25em;
  font-size: 0.9em;
}

footer {
  margin-top: 50px;
}

.category {

  border-color: transparent;
  background: $gray-100;

  svg {
    fill: rgba($hilsc-red, 0.5);
    width: 35%;
    display: block;
    margin: 10px auto;
  }

  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
    border-color: $blue; 
    box-shadow: 0 0 0 $input-focus-width rgba($blue, .25);

    svg {
      fill: rgba($hilsc-red, 1);
    }
  }

}

.form-success {
  border-color: $success;

  &:focus {
    border-color: $success;
    box-shadow: 0 0 0 $input-focus-width rgba($success, .25);
  }

  &::placeholder {
    color: $success;
  }
}

.form-primary {
  border-color: $primary;

  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0 $input-focus-width rgba($primary, .25);
  }

  &::placeholder {
    color: $primary;
  }
}


.navbar-brand {
  font-family: $headings-font-family;

  &::before {
    content: 'NeedHOU';
    color: $hilsc-red;
    border-right: 2px dotted $hilsc-red;
    padding-right: 8px;
    margin-right: 8px;
    font-weight: 400;
  }
}

#program-result-container {
  padding-top: 24px;
}

label {
  cursor: pointer;
}

.form-check {
  label {
    width: 100%;
  }

  &:hover {
    background: $gray-200;
  }
}

#map {
  height: 400px;
  width: 100%;
}

[data-item=Partial] .labelled-item--item {
  color: $yellow;
  font-weight: 800;
}

[data-item=Unknown] .labelled-item--item {
  color: $gray-600;
  font-weight: 800;
}

[data-item=Complete] .labelled-item--item {
  color: $success;
  font-weight: 800;
}

#program-result-container [data-groups~=immigrant-accessibility]::before  {
  content: '*';
  margin-left: -7px;
}