$font-family-sans-serif: 'Libre Franklin', sans-serif;
$headings-font-family: 'Roboto Slab', serif;

$hilsc-blue: #1571B6;
$hilsc-gray: #4B4B4B;
$hilsc-red:  #E8463A;

@import "node_modules/bootstrap/scss/bootstrap";

body {
  margin-top: 64px;
}

.labelled-item--label {
  font-weight: bold;
}

.minimize .labelled-item[data-item=''],
.minimize .hideable {
  display: none;
}

.labelled-item[data-item=''] {
  color: #DDD;
}

.toggle {
	float: right;
	cursor: pointer;
}

.labelled-for-agency-name,
.labelled-for-name,
.labelled-for-description
{
	.labelled-item--label {
	  display: none;
	}
}

main {
  min-height: 100vh;
}

.list-group h4:first-child {
  margin-top: 20px;
}

#search-result-container,
#search-filters {
  margin-top: 50px;
}

#search-filters .card {
	position: fixed;
}

#program-result-container {
  margin-top: 100px;
}

footer {
  margin-top: 50px;
}

.category svg {
  fill: rgba(232, 70, 58, 0.75);
  width: 40%;
  display: block;
  margin: 10px auto;
}